/* src/CarouselCalendar.css */

.carousel-calendar {
    width: 80%;
    /* height: 200px; */
    margin: 0 auto;
    text-align: center;
  }
  
  .day-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* width: 20px; */
    /* border: 1px solid rgb(167, 165, 165); */
    border: 1px solid rgb(216, 216, 216);

    margin: 8px;
    background-color: white;
    border-radius: 5px;
  }

  .day-tile:hover {
    background-color: #c7eac9;
  }
  .day-tile:active{
    border-color: red;
  }
  .day-number {
    font-size: 20px;
    /* font-weight: bold; */
    font-weight: 700;
    margin-top: 18px;
  }
  
  .day-name {
    font-size: 12px;
  }
  
  .slick-slide {
    padding: 7px;
  }
  